################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Id4UI
/Id4UI/bin/Debug/netcoreapp3.1
/Id4UI/obj
